				@font-face {
					font-family: 'dream-avenue';
					src: url('5755Dream-avenue.woff2') format('woff2'),
						url('5755Dream-avenue.woff') format('woff');
					  font-display: auto;
				}

				.dream-avenue{font-family: 'dream-avenue' !important;}

						@font-face {
					font-family: 'seasons';
					src: url('800Seasons.woff2') format('woff2'),
						url('800Seasons.woff') format('woff');
					  font-display: auto;
				}

				.seasons{font-family: 'seasons' !important;}

						@font-face {
					font-family: 'photograph';
					src: url('2173Photograph.woff2') format('woff2'),
						url('2173Photograph.woff') format('woff');
					  font-display: auto;
				}

				.photograph{font-family: 'photograph' !important;}

						@font-face {
					font-family: 'agan';
					src: url('6044Agan.woff2') format('woff2'),
						url('6044Agan.woff') format('woff');
					  font-display: auto;
				}

				.agan{font-family: 'agan' !important;}

						@font-face {
					font-family: 'embassy';
					src: url('4058Embassy.woff2') format('woff2'),
						url('4058Embassy.woff') format('woff');
					  font-display: auto;
				}

				.embassy{font-family: 'embassy' !important;}

						@font-face {
					font-family: 'bethany-anatha-font';
					src: url('6205Bethany-anatha-font.woff2') format('woff2'),
						url('6205Bethany-anatha-font.woff') format('woff');
					  font-display: auto;
				}

				.bethany-anatha-font{font-family: 'bethany-anatha-font' !important;}

						@font-face {
					font-family: 'laraboyok';
					src: url('6606Laraboyok.woff2') format('woff2'),
						url('6606Laraboyok.woff') format('woff');
					  font-display: auto;
				}

				.laraboyok{font-family: 'laraboyok' !important;}

						@font-face {
					font-family: 'brown-sugar';
					src: url('3816Brown-sugar.woff2') format('woff2'),
						url('3816Brown-sugar.woff') format('woff');
					  font-display: auto;
				}

				.brown-sugar{font-family: 'brown-sugar' !important;}

						@font-face {
					font-family: 'articha';
					src: url('9306Articha.woff2') format('woff2'),
						url('9306Articha.woff') format('woff');
					  font-display: auto;
				}

				.articha{font-family: 'articha' !important;}

						@font-face {
					font-family: 'qene-g-regular';
					src: url('4618Qene-g-regular.woff2') format('woff2'),
						url('4618Qene-g-regular.woff') format('woff');
					  font-display: auto;
				}

				.qene-g-regular{font-family: 'qene-g-regular' !important;}

						@font-face {
					font-family: 'ginger';
					src: url('749Ginger.woff2') format('woff2'),
						url('749Ginger.woff') format('woff');
					  font-display: auto;
				}

				.ginger{font-family: 'ginger' !important;}

						@font-face {
					font-family: 'shelleyandantebt';
					src: url('5858Shelleyandantebt.woff2') format('woff2'),
						url('5858Shelleyandantebt.woff') format('woff');
					  font-display: auto;
				}

				.shelleyandantebt{font-family: 'shelleyandantebt' !important;}

						@font-face {
					font-family: 'photograph-signature';
					src: url('9761Photograph-signature.woff2') format('woff2'),
						url('9761Photograph-signature.woff') format('woff');
					  font-display: auto;
				}

				.photograph-signature{font-family: 'photograph-signature' !important;}

						@font-face {
					font-family: 'sachlette-signature';
					src: url('8132Sachlette-signature.woff2') format('woff2'),
						url('8132Sachlette-signature.woff') format('woff');
					  font-display: auto;
				}

				.sachlette-signature{font-family: 'sachlette-signature' !important;}

						@font-face {
					font-family: 'mangro';
					src: url('7353Mangro.woff2') format('woff2'),
						url('7353Mangro.woff') format('woff');
					  font-display: auto;
				}

				.mangro{font-family: 'mangro' !important;}

						@font-face {
					font-family: 'creattion';
					src: url('5012Creattion.woff2') format('woff2'),
						url('5012Creattion.woff') format('woff');
					  font-display: auto;
				}

				.creattion{font-family: 'creattion' !important;}

						@font-face {
					font-family: 'jotia';
					src: url('4755Jotia.woff2') format('woff2'),
						url('4755Jotia.woff') format('woff');
					  font-display: auto;
				}

				.jotia{font-family: 'jotia' !important;}

						@font-face {
					font-family: 'bestime';
					src: url('6246Bestime.woff2') format('woff2'),
						url('6246Bestime.woff') format('woff');
					  font-display: auto;
				}

				.bestime{font-family: 'bestime' !important;}

						@font-face {
					font-family: 'chewy-bubble';
					src: url('4861Chewy-bubble.woff2') format('woff2'),
						url('4861Chewy-bubble.woff') format('woff');
					  font-display: auto;
				}

				.chewy-bubble{font-family: 'chewy-bubble' !important;}

						@font-face {
					font-family: 'sansilk';
					src: url('9956Sansilk.woff2') format('woff2'),
						url('9956Sansilk.woff') format('woff');
					  font-display: auto;
				}

				.sansilk{font-family: 'sansilk' !important;}

						@font-face {
					font-family: 'charlotte-southern';
					src: url('552Charlotte-Southern.woff2') format('woff2'),
						url('552Charlotte-Southern.woff') format('woff');
					  font-display: auto;
				}

				.charlotte-southern{font-family: 'charlotte-southern' !important;}

						@font-face {
					font-family: 'high-spirited';
					src: url('8874High-Spirited.woff2') format('woff2'),
						url('8874High-Spirited.woff') format('woff');
					  font-display: auto;
				}

				.high-spirited{font-family: 'high-spirited' !important;}

		